@import "footer";
@import "header";
body {
    margin: 0 60px;
    padding: 0;
    main {
        .pannier {
            background-color: #f6f6f6;
            margin-top: 80px;
            h3 {
                text-decoration: underline;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0;
            }
            .btn-all-delete {
                height: 30px;
                background: linear-gradient(to right, #f3e9f1, rgb(143, 94, 239));
                border: none;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                border-radius: 20px;
                padding: 10px 20px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #pannier_contenu {
                background-color: #f6f6f6;
                height: auto;
                padding-bottom: 40px;
                .container_pannier {
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(143, 94, 239);
                    width: auto;
                }
                .info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                }
                .prix,
                .suppresion {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .prixtotal {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .btn_supprimer {
                    height: 30px;
                    background: linear-gradient(to right, #f3e9f1, rgb(143, 94, 239));
                    border: none;
                    font-weight: bold;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 20px;
                    padding: 10px 20px;
                }
            }
        }
        .formulaire {
            background-color: #f6f6f6;
            margin-top: 30px;
            border-radius: 25px;
            margin-top: 80px;
            h2 {
                margin: 0;
                width: 100%;
                padding: 20px 0 10px 20px;
            }
            form {
                padding: 0px 0px 20px 20px;
                .name,
                .tel {
                    display: flex;
                    flex-wrap: wrap;
                    font-weight: bold;
                    font-size: 18px;
                }
                input {
                    margin-top: 20px;
                    margin-left: 10px;
                    border-radius: 20px;
                    background-color: #f6f6f6;
                    border: 1px solid black;
                    width: 220px;
                    height: 25px;
                    outline: none;
                    padding-left: 20px;
                }
                nav {
                    display: flex;
                    flex-direction: row;
                }
                .info {
                    margin-left: 80px;
                }
                .infolivraison {
                    font-weight: bold;
                    font-size: 18px;
                    input {
                        margin-right: 20px;
                    }
                }
                .bouton {
                    width: 100px;
                    height: 25px;
                    background: linear-gradient(to right, #f3e9f1, rgb(143, 94, 239));
                    border: none;
                    font-weight: bold;
                    font-size: 14px;
                    padding: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    body {
        margin: 0px;
        main {
            .formulaire {
                background-color: #f6f6f6;
                margin-top: 30px;
                border-radius: 25px;
                width: 90%;
                margin-left:20px;
                h2 {
                    margin: 0;
                    width: 100%;
                    padding: 20px 0 20px 20px;
                    font-size: 18px;
                    text-decoration: underline;
                }
                .name,
                .tel {
                    display: flex;
                    flex-direction: column;
                    .info {
                        margin-left: 0px;
                        align-items: center;
                        margin-top: 20px;
                    }
                }
                .infolivraison {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;

                    input {
                        margin-right: 0px;
                        margin-bottom: 20px;
                        
                    }

                }
            }

            .pannier{
                width:90%;
                margin-left:20px;
                padding-bottom: 20px;
    
                #pannier_contenu{
                    .info{
                        display: flex;
                        flex-direction: column;

                        p{
                            margin-left: 80px;
                        }

                        .quan{
                            margin-left:-20px;
                        }
                    }
                    
                   
                }  
            }
        } 
    }

   
}