footer {
  background-color: #f6f6f6;
  margin-top: 30px;
}
footer h3 {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  margin-bottom: 20px;
}
footer ul li a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 824px) {
  h3 {
    font-size: 14px;
  }

  footer {
    width: 90%;
    margin-left: 10px;
  }
  footer h3 {
    font-size: 80%;
    padding-left: 5px;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header nav .cercle {
  background-color: #8f5eef;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0;
  margin-top: -28px;
  margin-left: 24px;
}
header nav .chiffreCercle {
  text-align: center;
  margin-top: -14px;
  margin-left: 24px;
  color: white;
  font-size: small;
}
header nav a {
  text-decoration: none;
  font-size: 27px;
  color: #8f5eef;
  font-family: "Comic Sans MS", cursive;
  margin-left: 60px;
}
header img {
  height: 220px;
  width: 100%;
  margin-top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 824px) {
  header {
    width: 100%;
  }
  header a {
    margin-left: 40px;
  }
}
body {
  margin: 0 60px;
  padding: 0;
}
body .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body i {
  height: 40px;
}
body section {
  background-color: #f6f6f6;
  margin-top: 60px;
}
body h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Comic Sans MS", cursive;
  padding-top: 20px;
}
body p {
  font-size: 20px;
}
body .bouton {
  margin: 10px;
  padding: 5px 10px 5px 10px;
  width: auto;
  height: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#ffc456), color-stop(#f3e9f1), to(#8f5eef));
  background: linear-gradient(to right, #ffc456, #f3e9f1, #8f5eef);
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 824px) {
  body {
    margin: 0;
  }
  body header img {
    width: 100%;
  }
  body #hero {
    width: 90%;
    margin-left: 15px;
    padding-bottom: 20px;
  }
  body #hero h1 {
    font-size: 18px;
    margin-left: 40px;
    width: 90%;
  }
  body #hero p {
    font-size: 14px;
  }
}/*# sourceMappingURL=confirmation.css.map */