footer {
  background-color: #f6f6f6;
  margin-top: 30px;
}

footer h3 {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 20px;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 824px) {
  h3 {
    font-size: 14px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .cercle {
  background-color: #8f5eef;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0;
  margin-top: -28px;
  margin-left: 24px;
}

header nav .chiffreCercle {
  text-align: center;
  margin-top: -14px;
  margin-left: 24px;
  color: white;
  font-size: small;
}

header nav a {
  text-decoration: none;
  font-size: 27px;
  color: #8f5eef;
  font-family: "Comic Sans MS", cursive;
  margin-left: 60px;
}

header img {
  height: 220px;
  width: 100%;
  margin-top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 824px) {
  header {
    width: 100%;
  }
  header a {
    margin-left: 40px;
  }
}

body {
  margin: 0 60px;
  padding: 0;
}

body section {
  background-color: #f6f6f6;
  margin-top: 60px;
  padding: 20px;
}

body section .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section .image img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

body section h2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: underline;
}

body section .descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #8f5eef;
  padding: 10px 0px;
  text-align: center;
  border-radius: 15px;
}

body section .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section .fas {
  font-size: 26px;
  margin-left: 60px;
  color: #8f5eef;
  cursor: pointer;
}

body section button {
  padding: 0px;
  background-color: #f6f6f6;
  border: none;
}

body section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
  font-weight: bold;
}

body section label {
  margin-right: 20px;
}

@media only screen and (max-width: 824px) {
  body {
    margin: 0;
  }
  body section {
    padding: 30px;
  }
  body section .image img {
    width: 370px;
    height: 300px;
    border-radius: 20px;
  }
  body section .descr {
    padding: 5px 10px;
    width: 100%;
    display: block;
  }
  body section .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body section form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0px;
  }
}
/*# sourceMappingURL=product.css.map */